/* main.scss */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*===================== Color =====================*/
/* ===================line-height/type-scale functions===================== */
/* ============================================================= */
.left {
  float: left; }

.right {
  float: right; }

.hideme {
  opacity: 0; }

article, .footer-wrapper {
  margin-left: 10%;
  margin-right: 10%; }

div.social-wrapper {
  align-items: center; }

@media screen and (min-width: 700px) {
  article, .footer-wrapper {
    margin-left: 15%;
    margin-right: 15%; } }
@media screen and (min-width: 1000px) {
  article, .footer-wrapper {
    margin-left: 20%;
    margin-right: 20%; }

  img.social {
    padding-right: 30px;
    width: 100px; } }
/*========================Variables========================*/
/*================================================*/
html {
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: antialiased !important;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -moz-osx-overflow-scrolling: touch;
  font-size: 14px;
  font-family: Roboto Slab; }

h1 {
  font-size: 1.778rem;
  line-height: 2.5rem;
  font-family: Futura;
  margin-bottom: 1.25rem; }

h2 {
  font-size: 1.333rem;
  line-height: 2.5rem;
  font-family: Futura;
  margin-bottom: 1.25rem; }

p {
  font-size: 1rem;
  line-height: 1.5625rem;
  margin-bottom: 1.25rem; }

li {
  font-size: 1rem;
  line-height: 1.5625rem; }

div#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  text-align: center; }

a.strain-attribute {
  text-decoration: none;
  font-weight: bold;
  color: #000000; }

a.contact-email {
  color: #FFFFFF; }

a.contact-email:hover, a.strain-attribute:hover, a.strain-attribute:active {
  color: #82B240; }

header#video-header {
  min-height: 100%;
  background-image: url("../img/header-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center; }

section {
  width: 100%;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  align-self: center; }

footer {
  background-image: url("../img/footer-bg.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  color: #FFFFFF; }

@media screen and (min-width: 700px) {
  html {
    font-size: 18px; } }
@media screen and (min-width: 1100px) {
  ul.uses {
    width: 50%;
    float: left; } }
#strainAttributes {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 1.25rem; }

#strainAttributesTop {
  float: left;
  clear: right;
  width: 100%;
  margin: -5px 0px 0px 0px;
  text-align: left;
  font-weight: 600;
  padding: 13px 0px 0px 20px; }

#strainAttributesBottom {
  float: left;
  clear: right;
  width: 100%;
  margin: 2px 0px 0px 0px; }

.progress {
  background: #e9e5e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#e9e5e2));
  background-image: -webkit-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: -moz-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: -ms-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: -o-linear-gradient(top, #dddddd, #e9e5e2);
  background-image: linear-gradient(top, #dddddd, #e9e5e2);
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  box-shadow: 0 1px 0px #bbbbbb inset, 0 1px 0 #fcfcfc; }

progress {
  display: inline-block;
  vertical-align: baseline; }

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #82B240;
  border-radius: 0px 20px 20px 0px;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease; }

.progress-bar-info {
  background-color: #82B240; }

.effectsa, .effectsb, .effectsc, .effectsd, .effectse, .medicala, .medicalb, .medicalc, .medicald, .medicale, .negativesa, .negativesb, .negativesc, .negativesd, .negativese {
  -webkit-transition: width 2.50s ease !important;
  -moz-transition: width 2.50s ease !important;
  -o-transition: width 2.50s ease !important;
  transition: width 2.50s ease !important; }

/* Overlay style */
.overlay {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(153, 204, 51, 0.9); }

/* Overlay closing cross */
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;
  border: none;
  background: url(../img/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100; }

/* Menu style */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative; }

.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px; }

.overlay ul li a {
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 32px;
  margin-top: 20px;
  text-decoration: none; }

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #e3fcb1; }

/* Effects */
.overlay-hugeinc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s; }

.overlay-hugeinc.open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.overlay-hugeinc nav {
  -webkit-perspective: 1200px;
  perspective: 1200px; }

.overlay-hugeinc nav ul {
  opacity: 0.4;
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s; }

.overlay-hugeinc.open nav ul {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.overlay-hugeinc.close nav ul {
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg); }

@media screen and (max-height: 30.5em) {
  .overlay nav {
    height: 70%;
    font-size: 34px; }

  .overlay ul li {
    min-height: 34px; } }
#logo {
  max-width: 200px;
  padding-left: 10%; }

.full-nav {
  display: none; }

.mobile-nav {
  z-index: 1000;
  opacity: 1;
  float: right;
  padding-top: 18px;
  padding-right: 10%; }
  .mobile-nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Futura; }

nav#mobile-nav > a {
  font-weight: 2.5rem; }

nav#full-nav {
  z-index: 100;
  width: 100%;
  top: 0;
  height: 50px;
  clear: both;
  position: fixed;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

@media screen and (min-width: 700px) {
  #logo {
    max-height: 3rem;
    padding-left: 15%; }

  div.nav-wrapper > ul > li {
    display: block;
    margin-right: 30px;
    padding-top: 10px;
    float: right; }
    div.nav-wrapper > ul > li a {
      text-decoration: none;
      color: #FFFFFF;
      font-family: Futura; }

  nav#full-nav {
    height: 3rem; }

  .mobile-nav {
    opacity: 1;
    float: right;
    padding-top: 15px;
    padding-right: 15%; } }
@media screen and (min-width: 1000px) {
  #logo {
    padding-left: 20%; } }
@media screen and (min-width: 1100px) {
  .mobile-nav {
    opacity: 0; }

  .full-nav {
    display: block; } }
iframe {
  max-width: 100%;
  align-items: center; }

section#tincture-use {
  background-image: url("../img/section-use-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFFFF; }

section#tincture-use article {
  text-align: left; }

.element-box {
  position: relative;
  top: -95px;
  left: -5px;
  height: 100px;
  width: 100px;
  background-color: #400078;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  border-color-top: white;
  border-top: 5px white solid;
  border-right: 5px white solid; }

.element-type {
  position: absolute;
  top: 10px;
  left: 10px; }

.element-symbol {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 20px;
  font-weight: bold; }

.element-name {
  position: absolute;
  bottom: 10px;
  right: 10px; }

img {
  max-width: 100%; }

.strain-image, .history-image {
  width: 250px;
  height: 250px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; }

.flavour {
  max-width: 50%; }

img.social {
  padding-right: 15px;
  width: 70px;
  float: center; }

img.liquid-logo {
  width: 200px; }

@media screen and (min-width: 700px) {
  .flavour {
    max-width: 30%; }

  img.liquid-logo {
    width: 300px; } }
@media screen and (min-width: 1000px) {
  .history-image {
    width: 300px;
    height: 300px;
    float: right; }

  .flavour {
    max-width: 25%; }

  img.liquid-logo {
    width: 400px; } }
