@font-face {
	font-family: 'Aqua Grotesque';
	src: url('fonts/AquaGrotesque.eot');
	src: url('fonts/AquaGrotesque.eot?#iefix') format('embedded-opentype'),
		url('fonts/AquaGrotesque.woff') format('woff'),
		url('fonts/AquaGrotesque.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}