section#tincture-use {
	background-image: url('../img/section-use-bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: font-color('light');
	
}

section#tincture-use article {
	text-align: left;
}